# Predicting House Prices ( Linear Regression - Multi Variable )
##                                            - Kaviya Sri A.N.

### Importing the Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('D:\Courses\Machine Learning\Practice\houses.csv')
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

## Preprocessing the data by replacing null with values

In [17]:
import math
b_median=math.floor(df.bedrooms.median())
b_median

4

In [30]:
df.bedrooms=df.bedrooms.fillna(b_median)
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

## Creating the object for Linear Regression to predict

In [31]:
reg=linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [27]:
reg.predict([[3000,3,40]])

C:\Users\DELL\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])

## Cross checking the Price by the linear equation

In [29]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [33]:
reg.intercept_

221323.00186540437

In [35]:
y=112.06244194*3000+23388.88007794*3+-3231.71790863*40+221323.00186540437
y

498408.2515740244

### The Price Values are predicted by the Linear Regression using Multiple Variable